<% if current_user %>
<h1>Add an Answer to this Question</h1>
  <%= form_for [@question, @answer], :remote => true do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit "Post answer" %>
  <%end %>
<% end %>
